-module(rest_model).

%
% Definitions of records for REST API
%
% 
%
{{#models}}
{{#model}}
% {{classname}}
% {{description}}
-record({{classname}}, \{
	{{#vars}}
		{{basename}} :: {{datatype}}(),
	{{/vars}}\});


{{/model}}
{{/models}}.
